.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin-left: 35%;
  background-image: url('catpaw.jpg');
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  width: 20%;
  text-align: center;
  text-shadow: grey 3px 3px;
}

img{
  border: black solid 3px;
  border-radius: 30%;
}

p, h1, h2{
  background-color: rgba(78, 145, 87, 0.61) ;
  border-radius: 10%;
}
